h3.title Example Accordion
#faq
  .accordion-toggle
    h3.title-accordion(data-target='#question1')
      span.iconMoreLess
      | ¿A partir de cuándo entra en vigencia los nuevos planes?
    .box-container#question1
      p Para líneas nuevas y portabilidad, el Fun Pack se activará dentro de 72 horas de la activación de la línea. Para cambio de plan los beneficios se cargarán dependiendo de la cíclica del plan. Para clientes actuales, los nuevos beneficios de los planes entrarán en vigencia automáticamente a partir del 16 de diciembre de 2016 según tu ciclo de facturación. Si tu línea es ciclo 16, los nuevos beneficios de tu plan estará disponible a partir del 16 de diciembre de 2016. Si tu ciclo es el 24, los nuevos beneficios de tu plan estará disponible a partir del 24 de diciembre de 2016. Para las líneas del ciclo 6, la vigencia iniciará a partir del 6 de enero de 2017.
        br
        | ¿Quieres saber a qué ciclo perteneces? Ingresa a tu cuenta en Mi Movistar o al *515# desde tu celular opción 3, opción ciclo de facturación.
  
  .accordion-toggle
    h3.title-accordion(data-target='#question1')
      span.iconMoreLess
      | ¿A partir de cuándo entra en vigencia los nuevos planes?
    .box-container#question1
      p Para líneas nuevas y portabilidad, el Fun Pack se activará dentro de 72 horas de la activación de la línea. Para cambio de plan los beneficios se cargarán dependiendo de la cíclica del plan. Para clientes actuales, los nuevos beneficios de los planes entrarán en vigencia automáticamente a partir del 16 de diciembre de 2016 según tu ciclo de facturación. Si tu línea es ciclo 16, los nuevos beneficios de tu plan estará disponible a partir del 16 de diciembre de 2016. Si tu ciclo es el 24, los nuevos beneficios de tu plan estará disponible a partir del 24 de diciembre de 2016. Para las líneas del ciclo 6, la vigencia iniciará a partir del 6 de enero de 2017.
        br
        | ¿Quieres saber a qué ciclo perteneces? Ingresa a tu cuenta en Mi Movistar o al *515# desde tu celular opción 3, opción ciclo de facturación.
