
.row.show-grid
  h2 Example Boostrap Liferay
  .span1 .span1
  .span1 .span1
  .span1 .span1
  .span1 .span1
  .span1 .span1
  .span1 .span1
  .span1 .span1
  .span1 .span1
  .span1 .span1
  .span1 .span1
  .span1 .span1
  .span1 .span1
.row.show-grid
  .span6.xs-span-4.xxs-span-12 .span6 .xs-span-4 .xxs-span-12
  .span6.xs-span-8.xxs-span-12 .span6 .xs-span-8 .xxs-span-12
.row.show-grid
  .xs-span-6.span3 .xs-span-6.span3
  .xs-span-6.span9 .xs-span-6.span9
.row.show-grid
  .span6 .span6
  .span6 .span6
