h3.title Owl Carousel
#carousel.owl-carousel.owl-theme.carouselFix
  .item
    .row
      .span6
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .span6
        h2 Text 1
  .item
    .row
      .span6
        p Este texto es prueba
      .span6
        h2 Text 2
  .item
    .row
      .span6
        p Titulo 3 slider
      .span6
        h2 Text 3
  .item
    .row
      .span6
        p Ultimo slider
      .span6
        h2 Text 4
  .item
    .row
      .span6
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .span6
        h2 Text 5
  .item
    .row
      .span6
        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.
      .span6
        h2 Text 6
