h3.title Owl Slider
#slider.owl-carousel.owl-theme.sliderFix
  .item-video
    a.owl-video(href='https://youtu.be/jsaQS0TQNPA', cover-video='images/btn_loquiero.png')
    //- .row
    //-   .span6
    //-     a.owl-video(href='https://youtu.be/sutHuflUJ8A')
    //-   .span6
    //-     h2 Text 1
  .item(style='background-image:url(http://www.movistar.com.pe/documents/80379/4708458/bg_vales.jpg)')
    .row
      .span6
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .span6
        h2 Text 2
  .item
    .row
      .span6
        p Este texto es prueba
      .span6
        h2 Text 3
  .item
    .row
      .span6
        p Ultimo slider
      .span6
        h2 Text 4
