#newTab
  h3.title Example Tabs
  .lala
    button.btn.pesTab Pestaña 1
    button.btn.pesTab Prestaña 2
    button.btn.pesTab Prestaña 3
  .nono
    .conTab
      p Contenio pestaña 1
    .conTab
      p Contenido pestaña 2
    .conTab
      p Contenido pestaña 3
