.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 14px;
  @include minTablet {
    padding: 0;
  }
}

.row{
  display: block;
  @include minTablet{
    display: flex;
  }
}
.col30{
  @include minTablet {
    padding-right: 2%;
    width: 30%;
  }
}
.col70{
  @include minTablet {
    width: 70%;
  }
}

#pieProject{
  transform: scale(0.85);
  position: relative;
  top: -20px;
  margin-bottom: -20px;
  @include minTablet {
    transform: scale(1);
    top: 0;
    margin-bottom: 0;
  }
}

.list_activity {
  margin: 0;
  padding: 0;
  li{
    display: block;
    font-weight: bold;
    padding: 0.6rem;
    margin: 0.2rem 0 0 0;
    list-style: none;
    border:1px solid #6c6c6c;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    p{
      margin: 0;
    }
    .name_asesor{
      color: blue;      
    }
    &:first-child{
      margin: 0;
    }
    &.disable{
      cursor: not-allowed;
      opacity: 0.5;
    }
    &.progress{
      cursor: pointer;
      color: red;
      .detail_progess{
        color: blue;
      }
    }
    &.finish{
      .detail_progess{
        color: blue;
      }
    }
    &.asignado{
      span{
        color: red;
      }
    }
    .status{
      width: 154px;
      outline: none;
      box-shadow: inherit;
      border: 0;
      font-weight: bold;
      position: relative;
      left: -2px;
      background: #dadada;
    }
  }
}
.box_img{
  padding-top: 26px;
  display: none;
  @include minTablet{
    display: block;
  }
}
// Tabs
.box_Tabs {
  display: none;
  @include minTablet{
    display: block;
  }
  .wrapper_pesTab {
    display: flex;
    margin-bottom: 14px;
    .pesTabNew {
      color: #3b3b3b;
      display: block;
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      flex-basis: 25%;
      padding: 0px 0;
      transition: all ease-in-out 300ms;
      position: relative;
      background-color: #e9e9e9;
      letter-spacing: -.5px;
      font-weight: bold;
      margin-left: 0.5rem;
      cursor: not-allowed;
      &:first-child {
        margin-left: 0;
      }
      p.text{
        margin: 0;
        padding-top: 0.2rem;
        font-size: 9px;
        font-weight: normal;
      }

      &::before, &::after {
        content: '';
        width: 0px;
        height: 0px;
        border-top: 27px solid transparent;
        border-bottom: 27px solid transparent;
        position: absolute;
        top: 0;
        transition: all 0.3s ease-in-out;
      }

      &::before {
        border-left: 12px solid white;
        left: 0px;
      }

      &::after {
        right: 0px;
        border-left: 12px solid #d8d6d6;
        // border-left: 12px solid coral;
      }

      &.progress{
        cursor: pointer;
        background-color: #c2cdeb;
        color: white;
        &::after {
          right: 0px;
          border-left: 12px solid #c2cdeb;
        }
      }
      &.finish{
        background-color: #4777ff;
        color: white;
        &::after {
          right: 0px;
          border-left: 12px solid #4777ff;
        }
      }

      &:nth-child(1) {
        border: 0;
      }

      span {
        display: block;
        width: 100%;
        position: relative;
        padding: 4px 0;
        line-height: 1;
        &::after {
          content: '';
          display: block;
          background-color: white;
          position: absolute;
          right: 0;
          top: -1px;
          width: 12px;
          height: 104%;
          // display: none;
        }
      }
    }
  }

  .content_Tabs .detallelist {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: all ease-in-out 300ms;

    &.active {
      opacity: 1;
      visibility: visible;
      height: auto;
    }

    .box_form {
      margin: 14px 0 0;
    }

    .subtitle {
      width: auto;
      background: none;
      border: 0;
      font-size: 16px;
    }

    .field_group {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .field {
      margin: 8px 0;
      flex-basis: 50%;

      select {
        width: 100%;
        font-size: 15px;
      }
    }
  }
}
