html,body{
  font-size: 16px;
}
.container {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 14px;
  @include minTablet {
    padding: 0;
  }
}

.container .row{
  display: block;
  margin: 0;
  @include minTablet{
    display: flex;
  }
}
.col30{
  @include minTablet {
    padding-right: 2%;
    width: 30%;
  }
}
.col70{
  .container{
    padding: 0;
  }
  @include minTablet {
    width: 70%;
  }
}

#pieProject{
  transform: scale(0.85);
  position: relative;
  top: -20px;
  margin-bottom: -20px;
  @include minTablet {
    transform: scale(1);
    top: 0;
    margin-bottom: 0;
  }
}

.list_activity {
  margin: 0;
  padding: 0;
  li{
    display: block;
    font-weight: bold;
    padding: 0.6rem;
    margin: 0.2rem 0 0 0;
    list-style: none;
    border:1px solid #6c6c6c;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    p{
      margin: 0;
    }
    .name_asesor{
      color: blue;      
    }
    &:first-child{
      margin: 0;
    }
    &.disable{
      cursor: not-allowed;
      opacity: 0.5;
    }
    &.progress{
      cursor: pointer;
      color: red;
      overflow: visible;
      height: auto;
      background-color: transparent;
      .detail_progess{
        color: blue;
      }
    }
    &.finish{
      .detail_progess{
        color: blue;
      }
    }
    &.asignado{
      span{
        color: red;
      }
    }
    .status{
      width: 154px;
      outline: none;
      box-shadow: inherit;
      border: 0;
      font-weight: bold;
      position: relative;
      left: -2px;
      background: #dadada;
      display: block;
      height: auto;
      padding: 0;
      border-radius: 0;
    }
  }
}
.box_img{
  padding-top: 26px;
  display: none;
  @include minTablet{
    display: block;
  }
}
// Tabs
.box_Tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.26);
  z-index: 10;
  overflow: hidden;
  visibility: hidden;
  &.open{
    overflow: visible;
    visibility: visible;
  }
  @include minTablet{
    display: block;
    width: auto;
    height: auto;
    position: relative;
    background-color:transparent;
  }
  .wrapper_pesTab {
    width: 90%;
    background-color: #fff;
    border-radius: 6px;
    @include minTablet{
      display: flex;
      margin-bottom: 14px;
      width: 100%;
    }
    .pesTabNew {
      color: #3b3b3b;
      font-size: 16px;
      display: block;
      text-decoration: none;
      border-top: 1px solid #dadada;
      padding: 8px;
      font-size: 14px;
      @include minTablet{
        font-size: 16px;
        text-align: center;
        flex-basis: 25%;
        padding: 0px 0;
        transition: all ease-in-out 300ms;
        position: relative;
        background-color: #e9e9e9;
        letter-spacing: -.5px;
        font-weight: bold;
        margin-left: 0.5rem;
        cursor: not-allowed;
      }
      &:first-child {
        border-top: 0;
        margin-left: 0;
      }
      p.text{
        margin: 0;
        font-weight: normal;
        font-size: 11px;
        @include minTablet{
          font-size: 9px;
          padding-top: 0.2rem;
        }
        br{
          display: none;
          @include minTablet{
            display: inline;
          }
        }
      }

      &::before, &::after {
        @include minTablet{
          content: '';
          width: 0px;
          height: 0px;
          border-top: 27px solid transparent;
          border-bottom: 27px solid transparent;
          position: absolute;
          top: 0;
          transition: all 0.3s ease-in-out;
        }
      }

      &::before {
        border-left: 12px solid white;
        left: 0px;
      }

      &::after {
        right: 0px;
        border-left: 12px solid #d8d6d6;
        // border-left: 12px solid coral;
      }

      &.progress{
        @include minTablet{
          cursor: pointer;
          background-color: #c2cdeb;
          color: white;
          &::after {
            right: 0px;
            border-left: 12px solid #c2cdeb;
          }
        }
      }
      &.finish{
        @include minTablet{
          background-color: #4777ff;
          color: white;
          &::after {
            right: 0px;
            border-left: 12px solid #4777ff;
          }
        }
      }

      &:nth-child(1) {
        border: 0;
      }

      span {
        display: block;
        position: relative;
        &:hover{
          &::before{
            background-color: blue;
          }
        }
        &:before{
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          border: 1px solid #3b3b3b;
          border-radius: 50%;
          position: absolute;
          right: 0;
          top: 8px;
        }
        @include minTablet{
          width: 100%;
          position: relative;
          padding: 4px 0;
          line-height: 1;
          &::before{
            display: none;
          }
          &::after {
            content: '';
            display: block;
            background-color: white;
            position: absolute;
            right: 0;
            top: -1px;
            width: 12px;
            height: 104%;
            // display: none;
          }
        }
      }
    }
  }

  .content_Tabs .detallelist {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: all ease-in-out 300ms;

    &.active {
      opacity: 1;
      visibility: visible;
      height: auto;
    }

    .box_form {
      margin: 14px 0 0;
    }

    .subtitle {
      width: auto;
      background: none;
      border: 0;
      font-size: 16px;
    }

    .field_group {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .field {
      margin: 8px 0;
      flex-basis: 50%;

      select {
        width: 100%;
        font-size: 15px;
      }
    }
  }
}
