@font-face {
  font-family: 'CabinCondensed-Regular';
  src: url('../fonts/CabinCondensed.eot');
  src: url('../fonts/CabinCondensed.eot?#iefix') format("embedded-opentype"), url('../fonts/CabinCondensed.woff') format("woff"), url('../fonts/CabinCondensed.ttf') format("truetype"), url('../fonts/CabinCondensed.svg#CabinCondensed') format("svg");
  font-weight: normal;
  font-style: normal;
}