.box_body{
  display: flex;
  padding-top: 30px;
  .char_box{
    width: 400px;
  }
  .box_container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    .field{
      display: block;
      padding-top: 20px;
      &:first-child{
        padding-top: 0;
      }
      &.center{
        text-align: right;
      }
      p{
        display: inline-block;
        margin: 0;
        font-size: 13px;
      }
      .subtitle{
        min-width: 160px;
      }
      .name{
        &.button{
          color: red;
          font-size: 18px;
          font-weight: 700;
          border: 1px solid #777;
          padding: 2px 8px;
        }
      }
      .btn{
        border: 0;
        background-color: blue;
        color: white;
        text-transform: uppercase;
        padding: 6px 24px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
