doctype html
html(lang="es-ES")
  head
    meta(charset='utf-8')
    meta(name='viewport' ,content='width=device-width, initial-scale=1')
    title Mi Subaru
    meta(name='description', content="Movistar")
    meta(name='keywords', content="")
    meta(name='author', content="")
    // Theme color (Only Chrome Mobile)
    meta(name="theme-color", content="#db5945")
    // Facebook meta tags
    meta(property='og:title', content="")
    meta(property='og:description', content="")
    meta(property='og:type', content="")
    meta(property='og:url', content="")
    meta(property='og:image', content="")

    //Css a Usar
    link(rel='shortcut icon', href='http://subaru.eanet.pe/misubaru/resources/images/subaru-mobile-114x114.png')
    link(rel='stylesheet', href='css/home.css')

  body
    #app
      .wrapper
        h1.title Mi
          span Subaru
        ul.list
          li.box_btn
            a.ico_btn(href='#')
              img(src='images/ico_ubicaciones_sedes.png' alt='')
            p
              | Ubicacion 
              br
              | de Sedes
          li.box_btn
            a.ico_btn(href='#')
              img(src='images/ico_quiero_uno.png' alt='')
            p Quiero un Subaru
          li.box_btn
            a.ico_btn(href='#')
              img(src='images/ico_staff.png' alt='')
            p Staff
          li.box_btn
            a.ico_btn(href='#')
              img(src='images/ico_ayuda.png' alt='')
            p Asistencia
          li.box_btn
            a.ico_btn(href='#')
              img(src='images/ico_historial_servicio.png' alt='')
            p
              | Historial 
              br
              | del Veh&iacute;culo
          li.box_btn
            a.ico_btn(href='#')
              img(src='images/ico_agendar.png' alt='')
            p
              | Agendar 
              br
              | Cita
          li.box_btn
            a.ico_btn(href='#')
              img(src='images/ico_precio_de_servicio.png' alt='')
            p
              | Precio 
              br
              | Mantenimiento
          li.box_btn
            a.ico_btn(href='#')
              img(src='images/ico_pagar_servicio.png' alt='')
            p
              | Pagar 
              br
              | Servicio
          li.box_btn
            a.ico_btn(href='#')
              img(src='images/09_trabajos_pintura.png' alt='')
            p
              | Trabajos 
              br
              | de Pintura

    
    // jQuery Librerias
  
    script(src='js/bundle.js')
