extends extends/base

block header
  include includes/header

block content
  .wrapper_main
    .row
      .col30
        ul.list_activity
          li.finish
            p  Tipo de Siniestro
            p #[span.detail_progess Colisión] 
          li.finish
            p  Parte Comprometida
            p #[span.detail_progess Delantero RH] 
          li.finish
            p  Magnitud del daño
            p #[span.detail_progess Medio 1-2 paños] 
          //- li.finish Estado #[span.detail_progess ASIGNADO] 
          li.finish
            p Estado
            select.status#status(name="status")      
              //- option(hidden selected) Estados
              option(value="4") En Proceso
              option(value="1") Elaboracion de presupuesto
              option(value="2") Presupuesto por aprobar
              option(value="3") Aprobado
              option(value="5") Pausado por Repuestos
              option(value="6") Detenido por ampliación
              option(value="7") Trabajos Terminados
              option(value="7") Control de Calidad
              option(value="8") Para Entrega
              option(value="9") Entregado
            
        .box_img
          img(src="https://via.placeholder.com/1920x880", alt="")
        
      .col70
        .container
          .box_Tabs
            .wrapper_pesTab
              .pesTabNew.progress
                span.title Carrocerìa
                  p.text Cambio de #[br] Paneles y/o #[br] desabolladuras
              .pesTabNew.finish
                span.title Preparación
                  p.text Lijado de metal #[br] Desengrasado #[br] Apli. Anticorrosivo
              .pesTabNew
                span.title Pintura 1
                  p.text Masillado y secado #[br] Remasillado y secado #[br] Lijado
              .pesTabNew
                span.title Pintura 2
                  p.text Aplicaciòn #[br] de Primer #[br] y Lijado
              .pesTabNew
                span.title Pintura 3
                  p.text Aplicaciòn de #[br] Color, Barniz #[br] y Secado
              .pesTabNew
                span.title Acabado
                  p.text Armado #[br] Pulido #[br] y Abrillantado
            .content_Tabs
              .detallelist

          .box_body
            .char_box
              canvas#pieProject(width='300', height='300')
            .box_container
              .box_etapa
                p.finish #[b Etapa del Proceso]
                p.line_etapa Preparación Pintura
              
              ul.list_activity
                li.finish Inicio del trabajo #[span.detail_progess 01 Jun 2020] 
                li.progress Fin (Est.) del trabajo #[span.detail_progess 01 Jun 2020] 
                li Asesor de Servicio #[span.name_asesor Juan Perez] 
              
              .box_inner
                .field
                  p.subtitle Taller
                  p.name GALLEC SERVICE
                .field
                  p.subtitle Localidad
                  p.name Lima
                .field
                  p.subtitle Cia. Seguro
                  p.name.blue Pacífico
              .field.center
                button.btn_submit Salir
