extends extends/base

block header
  include includes/header

block content
  .wrapper_main
    .breadcrum
        .inner-breadcrum
            span Estás aquí: 
            ul  
                li
                    a(href="#") Inicio
    .main_header
      h1.title Lista de Talleres
    .row
        .table-general
            .table-header
                .table-header-inner
                  ul
                    li.cell-20 Provincia
                    li.cell-30.hidden-md Taller / Dirección
                    li.cell-30.visible-xs Taller #[br] Dirección #[br] Teléfono #[br] e-mail
                    li.cell-15.hidden-md  Teléfono
                    li.cell-20.hidden-md  e-mail
                    li.cell-15 Ubigeo
            .table-body
                .table-body-row
                    .table-body-cell.cell-20
                        p.text-regular Lima
                    .table-body-cell.cell-30
                        p.text-strong BCS Arroyo Motor
                        p.text-small Avenida Montepríncipe, 23 Local D-1, 28668, BOADILLA DEL MONTE Distancia: #[strong 3.5 km]
                        p.text-regular.phone-text.visible-xs 01 444 8888
                        a(href="mailto:bcs.arroyo.motor@gmail.com").text-email.visible-xs bcs.arroyo.motor@gmail.com
                    .table-body-cell.cell-15.hidden-md-table
                        p.text-regular 01 444 8888
                    .table-body-cell.cell-20.hidden-md-table
                        a(href="").text-email bcs.arroyo.motor@gmail.com
                    .table-body-cell.cell-15
                        a(href="", data-modal="central-bosh-cash").icon-map
                            img(src="images/ico_map.png")
                .table-body-row
                    .table-body-cell.cell-20
                        p.text-regular Lima
                    .table-body-cell.cell-30
                        p.text-strong BCS Arroyo Motor
                        p.text-small Avenida Montepríncipe, 23 Local D-1, 28668, BOADILLA DEL MONTE Distancia: #[strong 3.5 km]
                        p.text-regular.phone-text.visible-xs 01 444 8888
                        a(href="mailto:bcs.arroyo.motor@gmail.com").text-email.visible-xs bcs.arroyo.motor@gmail.com
                    .table-body-cell.cell-15.hidden-md-table
                        p.text-regular 01 444 8888
                    .table-body-cell.cell-20.hidden-md-table
                        a(href="").text-email bcs.arroyo.motor@gmail.com
                    .table-body-cell.cell-15
                        a(href="", data-modal="xtreme-motors-cars").icon-map
                            img(src="images/ico_map.png")
                .table-body-row
                    .table-body-cell.cell-20
                        p.text-regular Lima
                    .table-body-cell.cell-30
                        p.text-strong BCS Arroyo Motor
                        p.text-small Avenida Montepríncipe, 23 Local D-1, 28668, BOADILLA DEL MONTE Distancia: #[strong 3.5 km]
                        p.text-regular.phone-text.visible-xs 01 444 8888
                        a(href="mailto:bcs.arroyo.motor@gmail.com").text-email.visible-xs bcs.arroyo.motor@gmail.com
                    .table-body-cell.cell-15.hidden-md-table
                        p.text-regular 01 444 8888
                    .table-body-cell.cell-20.hidden-md-table
                        a(href="").text-email bcs.arroyo.motor@gmail.com
